<!doctype html>
<html lang="en">
    <head>
        <%- include('head') %>
    </head>
    <body>
        <%- include('nav') %>

        <div class="container-fluid pt-3">
            <div class="jumbotron">
                <img src="/static/logo.png" width="150" height="150" class="rounded float-left align-top mr-3" alt="fazercomo_logo">
                <h1 class="display-4">ComoFazer!</h1>
                <p class="lead">Esta é uma aplicação clone do <a class="text-primary" href="http://www.wikihow.com.br" target="_blank"><i>WikiHow</i></a>, uma wiki onde os usuários compartilham informações/tutoriais de como fazer qualquer coisa.</p>
                <br class="clearfix" />
                <hr class="my-4">
                <p>Material desenvolvido com base no conteúdo das vídeo aulas sobre JavaScript ministradas no Workshop <b>Fullstack Lab</b>, pelo instrutor <b>Túlio Farias</b>.</p>
                <a class="btn btn-primary btn-lg" href="https://www.devpleno.com/fullstacklab" target="_blank" role="button">Saiba mais</a>
            </div>

            <h6><%= api_echo %></h6>
            <hr class="my-4">
            <div class="float-right">
                <h6 class="display-6">Desenvolvido com</h6>
                <img src="/static/firebase_logo.svg" width="200" alt="firebase_logo">
                <img src="/static/nodejs_logo.svg" width="150" alt="nodejs_logo">
            </div>
        </div>

        <%- include('footer') %>
    </body>
</html>
