<!doctype html>
<html lang="en">
    <head>
        <%- include('head') %>
    </head>
    <body>
        <%- include('nav') %>

        <div class="container-fluid pt-3">
            <h4><%= api_echo %></h4>
        </div>

        <%- include('footer') %>
    </body>
</html>
