<form method="POST" action="/categories/update/<%= category.id %>">
    <input type="text" name="name" placeholder="Insira o nome da categoria" value="<%= category.name %>">
    <button>Salvar</button>
</form>
